.heading-div {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 16px;
    margin: 10px 50px;
    width: 92%;
}

.btn-selected{
    color: blue;
}

.btn-default{
    color: black;
}